@import '../utils';

.cart {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	z-index: $z-modal;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: $z-modal;
	}

	&__header {
		width: 100%;
		background-color: #f2eee2;
		padding: 25px 0;
	}
}
