// p,h1,h2,h3,h4,h5,h6{
// 	color:#fff;
// }

h1 {
	font-size: 40px;
}

p,
ul,
ol {
	font-size: 18px;
}

ol {
	padding-left: 40px;
}

ul {
	padding-left: 20px;
	list-style-type: '- ';
}

a {
	color: #a33188;
	cursor: pointer;
}
