.button {
	background: linear-gradient(135deg, #d8207b 0%, #86286f 80%);
	border-radius: 35px;
	display: inline-flex;
	color: #fff;
	font-weight: 700;
	letter-spacing: -0.4px;
	font-size: 15px;
	padding: 12px 45px;
	cursor: pointer;
}

.link{
	color:#a33188;
	font-weight: bold;
}


